button {
	transition: all 0.3s ease;
}

.button-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: auto;
}

.btn {
	font-weight: 500;
	font-size: 15px;
	border-radius: 7px;
	padding: 15px;
	min-height: 54px;
	min-width: 151px;

	&.primary {
		background-color: #0063ff;
		color: rgba(255, 255, 255, 0.87);

		&.disabled {
			opacity: 0.5;
		}

		&:hover {
			background-color: #0075d7;
			color: rgba(255, 255, 255, 1);
		}
	}
}

.back-btn {
	font-weight: 500;
	font-size: 15px;
	color: #1b1b1b;
	opacity: 0.35;

	&:hover {
		opacity: 1;
	}
}

.add-btn {
	margin-top: 24px;
	display: flex;
	align-items: center;
	font-weight: 400;
	font-size: 15px;
	color: rgba(#3e85fd, 0.87);
	opacity: 0.87;

	svg {
		margin-right: 8px;
	}

	&.disabled {
		opacity: 0.5;
	}
}
