.checkbox {
	display: flex;
	align-items: center;
	min-height: 52px;
	margin-top: auto;

	&__input {
		width: 18px;
		height: 18px;
		border: 1px solid red !important;
		border-radius: 4px;
		cursor: pointer;
		margin-right: 10px;
		opacity: 0.5;
	
		&:checked {
			opacity: 1;
		}
	}

	&__label {
		font-size: 14px;
		color: #999999;
		cursor: pointer;
	}
}


