.field {
	width: 100%;
	display: flex;
	position: relative;

	&--half {
		width: calc(50% - 15px);
	}

	&__notification {
		position: absolute;
		top: 0;
		left: 50%;
		min-width: 350px;
		width: 100%;
		font-size: 17px;
		color: #fff;
		transform: translate(-50%, -100%);
    padding: 20px;
		background-color: rgba(#0063ff, 1);
		border-radius: 4px;

		&:after {
			position: absolute;
			content: "";
			border: 15px solid transparent;
			border-top: 15px solid rgba(#0063ff, 1);
			bottom: -29px;
			left: 50%;
			transform: translateX(-50%);
		}
		

		button {
			position: absolute;
			top: 5px;
			right: 5px;
			width: 14px;
			height: 14px;
			background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_203_3623)'%3E%3Crect x='0.401367' y='2.04968' width='2.33333' height='16.3333' rx='1.16667' transform='rotate(-45 0.401367 2.04968)' fill='%23ffffff'/%3E%3Crect x='2.05078' y='13.599' width='2.33333' height='16.3333' rx='1.16667' transform='rotate(-135 2.05078 13.599)' fill='%23ffffff'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_203_3623'%3E%3Crect width='14' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
		}
	}

	&__wrap {
		width: 100%;
		display: flex;
		flex-direction: column;
		position: relative;
	}

	&__label {
		font-weight: 400;
		font-size: 14px;
		color: #1b1b1b;
		opacity: 0.6;
		margin-bottom: 12px;
	}

	&__input {
		width: 100%;
		font-size: 15px;
		color: #1b1b1b;
		line-height: 1;
		padding: 15px 20px;
		min-height: 52px;
		border: 1px solid #e4e5e7;
		border-radius: 7px;

		&::placeholder {
			color: #999999;
			font-size: 15px;
			opacity: 0.7;
		}

		&:hover {
			border-color: #b3b3b3;
		}

		&.invalid {
			border-color: #ff0000;
		}
	}

	&__radio-wrap {
		display: flex;
		justify-content: space-between;
	}

	&__radio-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 400;
		font-size: 15px;
		color: #999999;
		opacity: 0.7;
		padding: 15px;
		min-height: 52px;
		border: 1px solid #e4e5e7;
		border-radius: 7px;
		width: calc(50% - 4px);

		& path {
			fill: #b8b8b8;
		}

		&:hover {
			border-color: #b3b3b3;
		}

		&.active {
			border-color: #5795fd;
			color: #5795fd;

			& path {
				fill: #5795fd;
			}
		}
	}

	&__file {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	&__error {
		position: absolute;
		top: 0;
		left: 50%;
		min-width: 350px;
		width: 100%;
		font-size: 12px;
		color: red;
		transform: translate(-50%, -100%);
		padding: 5px;
		background-color: rgba(red, 0.3);
		border-radius: 4px;

		&:after {
			position: absolute;
			content: "";
			border: 15px solid transparent;
			border-top: 15px solid rgba(red, 0.3);
			bottom: -30px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__file-input {
		position: absolute;
		opacity: 0;
		z-index: -1;
		visibility: hidden;
		width: 0;
		height: 0;
	}

	&__file-label {
		display: flex;
		align-items: center;
		min-height: 52px;
		padding: 15px 20px;
		min-height: 52px;
		border: 1px dashed #e4e5e7;
		border-radius: 7px;
		width: 100%;
		font-size: 15px;
		color: #5795fd;
		cursor: pointer;
		position: relative;

		&:after {
			position: absolute;
			content: "";
			width: 52px;
			height: 52px;
			top: -1px;
			right: -1px;
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0H45C48.866 0 52 3.13401 52 7V45C52 48.866 48.866 52 45 52H0V0Z' fill='%235795FD'/%3E%3Cg clip-path='url(%23clip0_702_2)'%3E%3Cpath d='M23.368 22.5651L25.2 20.7247V28.3986C25.2 28.6108 25.2843 28.8144 25.4343 28.9644C25.5843 29.1145 25.7878 29.1988 26 29.1988C26.2122 29.1988 26.4157 29.1145 26.5657 28.9644C26.7157 28.8144 26.8 28.6108 26.8 28.3986V20.7247L28.632 22.5651C28.7064 22.6402 28.7949 22.6997 28.8923 22.7403C28.9898 22.7809 29.0944 22.8018 29.2 22.8018C29.3056 22.8018 29.4102 22.7809 29.5077 22.7403C29.6051 22.6997 29.6936 22.6402 29.768 22.5651C29.843 22.4908 29.9025 22.4023 29.9431 22.3047C29.9837 22.2072 30.0046 22.1026 30.0046 21.997C30.0046 21.8914 29.9837 21.7868 29.9431 21.6893C29.9025 21.5918 29.843 21.5033 29.768 21.4289L26.568 18.2281C26.4919 18.1552 26.4022 18.0981 26.304 18.06C26.1092 17.98 25.8908 17.98 25.696 18.06C25.5978 18.0981 25.5081 18.1552 25.432 18.2281L22.232 21.4289C22.1574 21.5035 22.0982 21.592 22.0579 21.6895C22.0175 21.787 21.9967 21.8915 21.9967 21.997C21.9967 22.1025 22.0175 22.207 22.0579 22.3045C22.0982 22.402 22.1574 22.4905 22.232 22.5651C22.3066 22.6398 22.3951 22.6989 22.4926 22.7393C22.5901 22.7797 22.6945 22.8005 22.8 22.8005C22.9055 22.8005 23.0099 22.7797 23.1074 22.7393C23.2049 22.6989 23.2934 22.6398 23.368 22.5651ZM33.2 25.998C32.9878 25.998 32.7843 26.0823 32.6343 26.2324C32.4843 26.3824 32.4 26.586 32.4 26.7982V31.5994C32.4 31.8116 32.3157 32.0152 32.1657 32.1652C32.0157 32.3153 31.8122 32.3996 31.6 32.3996H20.4C20.1878 32.3996 19.9843 32.3153 19.8343 32.1652C19.6843 32.0152 19.6 31.8116 19.6 31.5994V26.7982C19.6 26.586 19.5157 26.3824 19.3657 26.2324C19.2157 26.0823 19.0122 25.998 18.8 25.998C18.5878 25.998 18.3843 26.0823 18.2343 26.2324C18.0843 26.3824 18 26.586 18 26.7982V31.5994C18 32.2361 18.2529 32.8467 18.7029 33.2969C19.153 33.7471 19.7635 34 20.4 34H31.6C32.2365 34 32.847 33.7471 33.2971 33.2969C33.7471 32.8467 34 32.2361 34 31.5994V26.7982C34 26.586 33.9157 26.3824 33.7657 26.2324C33.6157 26.0823 33.4122 25.998 33.2 25.998Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_702_2'%3E%3Crect width='16' height='16' fill='white' transform='translate(18 18)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
		}

		&.uploaded {
			&:after {
				display: none;
			}
		}
	}

	&__file-placeholder {
		color: #999999;
		opacity: 0.7;
	}
}

.field-autofill {
	.field {
		width: 100% !important;
	}
}

.field-small {
	.field__wrap {
		width: 72px;
		margin-right: 16px;
	}
}

.field-row {
	display: flex;
	margin: -20px -20px 20px -20px;
	flex-wrap: wrap;
}

.field-col {
	padding: 20px;
	width: 50%;

	&.triple {
		.field {
			width: calc(24% - 20px);

			&:nth-child(2) {
				width: calc(52% - 20px);
			}
		}
	}

	&.double {
		.field {
			width: calc(76% - 15px);

			&:nth-child(2) {
				width: calc(24% - 15px);
			}
		}
	}

	&.own {
		display: flex;

		.field {
			width: calc(24% - 20px);
			margin-right: 30px;

			&:last-child {
				width: calc(52% - 20px);
				margin-right: 0;
			}
		}
	}

	&.col {
		.field {
			flex-direction: column;
		}
	}

	&.full {
		width: 100%;
	}

	&.small {
		display: flex;

		.field {
			width: auto;
		}

		.field__wrap {
			width: 72px;
			margin-right: 16px;
		}
	}

	&.row {
		display: flex;
		justify-content: space-between;
	}
}