@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
sub,
sup,
b,
u,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	background: transparent;
}

* {
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
	font-size: 16px;
}

body {
	font-family: "Inter", sans-serif;
}

a {
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

a:hover,
a:active,
a:focus {
	text-decoration: none;
}

input {
	border: none;
	background-color: transparent;
	outline: none;
}

textarea {
	resize: none;
	border: none;
	background-color: transparent;
	outline: none;
	-webkit-appearance: none;
}

button {
	padding: 0;
	cursor: pointer;
	border: none;
	background-color: transparent;
	outline: none;
	-webkit-appearance: none;
}

select {
	cursor: pointer;
	border: none;
	background-color: transparent;
	outline: none;
	-webkit-appearance: none;
}

.wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
}

.container {
	max-width: 1440px;
	width: 100%;
	margin: 0 auto;
}

.scroll-wrap::-webkit-scrollbar {
	width: 4px;
	background-color: transparent;
}

.scroll-wrap::-webkit-scrollbar-thumb {
	width: 4px;
	background-color: #edeef8;
	border-radius: 10px;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
}

.main-wrap {
	min-height: 100vh;
	display: flex;
	align-items: flex-start;
}

.content {
	width: 100%;
	min-height: 100vh;
	padding: 110px 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	@media (min-width: 2560px) {
		margin: auto 0;
		min-height: 1024px;
	}
}

.own-wrap {
	margin-bottom: 40px;
}

.green-mark {
	width: 7px;
	height: 12px;
	border-right: 2px solid #16bb5b;
	border-bottom: 2px solid #16bb5b;
	transform: rotate(40deg);
	margin-right: 12px;
	margin-bottom: 3px;
}
