.nav {
	width: 500px;
	flex: none;
	padding: 80px;
	background-color: #fafafa;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	min-height: 100vh;

	&:before {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		height: 100%;
		width: 100vw;
		background-color: #fafafa;
		transform: translate(-100%);
	}

	&:after {
		position: absolute;
		content: "";
		bottom: 0;
		right: 0;
		height: 100%;
		width: 100vw;
		background-color: #fafafa;
		transform: translate(0, 100%);
	}

	&__list {
		display: flex;
		flex-direction: column;
	}

	&__btn {
		display: flex;
		align-items: center;
		margin-bottom: 44px;

		&.done {
			opacity: 0.5;

			.nav__number {
				background: #7daffd;
				color: #ffffff;
			}

			.nav__icon {
				opacity: 1;
			}
		}

		&.active {
			opacity: 1;

			.nav__number {
				background: #0063ff;
				color: #ffffff;
				font-weight: 500;
			}

			.nav__text {
				color: #383838;
				font-weight: 500;
			}
		}

		&:last-child {
			.nav__number {
				&:after {
					display: none;
				}
			}
		}
	}

	&__number {
		width: 42px;
		height: 42px;
		border-radius: 50%;
		background: #eeedf2;
		color: rgba(#1b1b1b, 0.6);
		display: flex;
		align-items: center;
		justify-content: center;
		flex: none;
		margin-right: 16px;
		position: relative;

		&:after {
			position: absolute;
			content: "";
			left: 50%;
			transform: translate(-50%, 100%);
			bottom: 0;
			width: 1px;
			height: 44px;
			background: #eeedf2;
		}
	}

	&__text {
		font-size: 16px;
		text-align: left;
		color: #1b1b1b;
		opacity: 0.6;
		margin-right: 16px;
	}

	&__icon {
		width: 7px;
		height: 12px;
		border-right: 2px solid #999999;
		border-bottom: 2px solid #999999;
		transform: rotate(40deg);
		opacity: 0;
	}
}