.optimized-select__control,
.select__control {
	min-height: 52px !important;
}

.optimized-option {
	transition: background 60ms;

	&:hover {
		transition-delay: 60ms;
		background: #49b4e90d;
		color: #3E85FD;
	}

	&.custom-select__option--is-focused {
		background: none;
	}

	&.custom-select__option--is-selected {
		background: #49b4e90d;
	}

}