.soc-wrap {
	display: flex;
	position: relative;
	margin-bottom: 40px;
}

.soc-input {
	width: 100%;
	font-size: 15px;
	color: #1b1b1b;
	line-height: 1;
	padding: 15px 55px 15px 20px;
	min-height: 52px;
	border: 1px solid #e4e5e7;
	border-left: none;
	border-radius: 0 7px 7px 0;
	margin-left: -7px;

	&::placeholder {
		color: #999999;
		font-size: 15px;
		opacity: 0.7;
	}

	&.invalid {
		border-color: #ff0000;
	}
}

.soc-delete {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	width: 12px;
	height: 12px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_203_1620)'%3E%3Crect x='0.34375' y='1.75781' width='2' height='14' rx='1' transform='rotate(-45 0.34375 1.75781)' fill='%23FB5454'/%3E%3Crect x='1.75781' y='11.6565' width='2' height='14' rx='1' transform='rotate(-135 1.75781 11.6565)' fill='%23FB5454'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_203_1620'%3E%3Crect width='12' height='12' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}