.head {
	display: flex;
	flex-direction: column;
	margin-bottom: 64px;

	&__title {
		font-weight: 500;
		font-size: 19px;
		color: #1b1b1b;
		margin-bottom: 20px;
	}

	&__desc {
		font-weight: 300;
		font-size: 17px;
		line-height: 129%;
		color: #000000;
		opacity: 0.5;
	}

	&__img {
		width: 60px;
		height: 60px;
		margin-bottom: 40px;

		img,
		svg {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}